@font-face {
    font-family: 'StrokeOrders';
    src: url(fonts/KanjiStrokeOrders.ttf);
}

.top {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.output {
    padding: 0.5in;
    flex: 1;
    gap: 0.1in;
    height: calc(100vh - 1in);
    overflow-y: auto;
    overflow-x: hidden;
}

.kanji-practice-item {
    display: flex;
    flex-direction: column;
    width: 7.25in;
}

.kanji-description {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
}

.kanji-description > dt {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}
      
.kanji-description > dd {
    font-size: 14px;
    margin: 0 30px 0 10px;
    text-transform: capitalize;
}

.kanji-visuals {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.kanji-stroke-order {
    font-family: StrokeOrders;
    font-size: calc(1in - 12px);
    margin-right: 0.1in;
}

.kanji-practice-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 0.05in;
    align-content: center;
}

.kanji-practice-box {
    width: 0.5in;
    height: 0.5in;
    border: 1px solid black;
}

.sidebar {
    flex-shrink: 0;
    background-color: white;
    margin: 16px;
    padding: 16px;
    border: 1px solid lightgray;
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 5in;
}

@media (max-width: 12.25in) {
    .top {
        flex-direction: column;
    }

    .sidebar {
        width: unset;
        height: 40vh;
    }
}

.bubun {

}

.bubun-meishou {
    display: block;
    font-size: 18px;
    border-bottom: 1px solid lightgray;
}

.kanji-bubun-naiyou {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bubun-bubun-naiyou {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 4px;
}

.kanji-button {
    all: unset;
    cursor: pointer;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    font-size: 24px;
    border-radius: 6px;
    transition: background-color 0.15s, transform 0.15s;
}

.kanji-button:hover {
    background-color: rgb(232, 232, 232);
}

.kanji-button:active {
    background-color: rgb(224, 224, 224);
}

.kanji-button.selected {
    background-color: rgb(216, 216, 216);
    transform: scale(0.85);
}

.kanji-button.selected:hover {
    background-color: rgb(224, 224, 224);
}

.kanji-button.selected:active {
    background-color: rgb(232, 232, 232);
}