@font-face {
    font-family: 'StrokeOrders';
    src: url(fonts/KanjiStrokeOrders.ttf);
}

@font-face {
    font-family: 'YOzFont';
    src: url(fonts/YOzFont.ttf);
}

.top {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.output {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.273);
    --in: calc(min((100vh - 32px) / 12, (100vw - 576px) / 9.5));
    padding: calc(0.5 * var(--in));
    gap: calc(0.1 * var(--in));
    height: calc(11 * var(--in));
    width: calc(8.5 * var(--in));
    overflow-y: auto;
    overflow-x: hidden;
}

@media print {
    .sidebar {
        display: none !important;
    }

    .output {
        width: 100%;
        height: 100%;
        --in: 1in;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }
}

.kanji-practice-item {
    display: flex;
    flex-direction: column;
    width: calc(8 * var(--in));
}

.kanji-description {
    all: unset;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
}

.kanji-description > dt {
    font-weight: bold;
    text-transform: uppercase;
    font-size: calc(0.125 * var(--in));
}
      
.kanji-description > dd {
    font-size: calc(0.15 * var(--in));
    margin: 0 calc(0.3125 * var(--in)) 0 calc(0.1 * var(--in));
    text-transform: capitalize;
}

.kanji-visuals {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.kanji-stroke-order {
    font-family: StrokeOrders;
    font-size: calc(0.875 * var(--in));
    margin-right: calc(0.1 * var(--in));
}

.kanji-practice-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: calc(0.05 * var(--in));
    align-content: center;
}

.kanji-practice-box {
    position: relative;
    width: calc(0.5 * var(--in));
    height: calc(0.5 * var(--in));
    box-shadow: 0 0 0 1px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kanji-practice-guide-lines {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: inherit;
    height: inherit;
}

.kanji-practice-hint {
    font-size: calc(0.4 * var(--in));
    font-family: YOzFont;
    color: gray;
}

.sidebar {
    flex-shrink: 0;
    background-color: white;
    margin: 16px;
    padding: 16px;
    border: 1px solid lightgray;
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 480px;
}

.bubun {

}

.bubun-meishou {
    display: block;
    font-size: 18px;
    border-bottom: 1px solid lightgray;
}

.kanji-bubun-naiyou {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bubun-bubun-naiyou {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 4px;
}

.kanji-button {
    all: unset;
    cursor: pointer;
    user-select: none;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    font-size: 24px;
    border-radius: 6px;
    transition: background-color 0.15s, transform 0.15s;
}

.kanji-button:hover {
    background-color: rgb(232, 232, 232);
}

.kanji-button:active {
    background-color: rgb(224, 224, 224);
}

.kanji-button.selected {
    background-color: rgb(216, 216, 216);
    transform: scale(0.85);
}

.kanji-button.selected:hover {
    background-color: rgb(224, 224, 224);
}

.kanji-button.selected:active {
    background-color: rgb(232, 232, 232);
}